<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.0.0" targetFramework="net461" />
  <package id="Coinbase" version="6.0.1" targetFramework="net461" />
  <package id="CoinMarketCapClient" version="1.1.1" targetFramework="net461" />
  <package id="Flurl" version="3.0.1" targetFramework="net461" />
  <package id="Flurl.Http" version="3.0.1" targetFramework="net461" />
  <package id="iTextSharp.LGPLv2.Core" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.19" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json.Schema" version="3.0.14" targetFramework="net461" />
  <package id="RestSharp" version="106.5.4" targetFramework="net461" />
  <package id="RestSharp.Newtonsoft.Json" version="1.5.1" targetFramework="net461" />
  <package id="SkiaSharp" version="2.88.3" targetFramework="net461" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.3" targetFramework="net461" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.3" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net461" />
  <package id="System.IO" version="4.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net461" />
  <package id="System.Net.Http.Json" version="7.0.0" targetFramework="net461" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net461" />
  <package id="System.Text.Json" version="7.0.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net461" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net461" />
</packages>